.nav{
    background-color: #9DB2BF;
    color: #9DB2BF;
};

.body{
    background-color: #9DB2BF;
    color: #9DB2BF;
};

.navbar{
    background-color: #9DB2BF;
    color: #9DB2BF;
};

.theme{
    background-color: #9DB2BF;
    color: #9DB2BF;
};